/* general styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: #E0F2F7;
}

#main{
    padding-top:80px;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  -webkit-font-smoothing: antialiased;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color:white;
  
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  image-rendering: auto;
}
.text-vcenter h1 {
  font-size: 7em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: -3px;
  margin: 0;
  padding: 0;
}

.navbar-wrapper{
    opacity:0.8;
    background: rgba(0,0,0,0.8);
    position:fixed;
    padding-bottom:0px;
    width:100%;
    z-index:100;
}
.navbar{
    background:transparent;
    margin-bottom:0px;
    border:none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #999;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color:white;
    font-weight:bold;
    font-size:1.5em;
}


#google_map {
  height: 500px;
}

footer {
  padding-top : 4px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,0.8);;    
}



footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.white-ball {
    background:url('../images/winn-numbers-ball.png') no-repeat center;    
    background-size: 100%;
}

.entryNumberNoHit {
    background: #1A5C7A none repeat scroll 0% 0%;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-size: 21px;
    font-weight: 600;
    line-height: 39px;
}

.entryNumberHit {
    background: red none repeat scroll 0% 0%;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-size: 21px;
    font-weight: 600;
    line-height: 39px;
}

.entryNumberWhite {
    background: #BBBBBB none repeat scroll 0% 0%;
    height: 48px;
    width: 48px;
    float: left;
    /*margin: 10px 5px 0px 0px;*/
    border-radius: 50%;
    text-align: center;
    color: black;
    font-size: 19px;
    font-weight: 600;
    line-height: 39px;    
}

.entryNumberText {
    float: left;
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 39px;    
    vertical-align: middle;
}

.panelBg {
	background:#f0f0f0;
	border:1px solid #093!important;
}

.gameImg {
	display: block; 
	margin-left: auto; 
	margin-right: auto;	
}
