{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<div class="container" id="main">
{% include 'AppBundle:Results:game.html.twig' with games["P"] %}
{% include 'AppBundle:Results:game.html.twig' with games["E"] %}
{% include 'AppBundle:Results:game.html.twig' with games["S"] %}
</div>  

{% endblock %}
