{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<style type="text/css">
.largeWidth {
	width: 800px;
    margin: 0 auto;
}
</style>
<div class="container" id="main">
{% for gameId,game in games %}
{% set vars = {"game" : game , "offset" : offset[loop.index0] } %}
{% include 'AppBundle:Results:game.html.twig' with vars %}
{% endfor %}
</div>  
<script type="text/javascript">
function startWait(){
	//$("#game-results").modal();
}
function stopWait(){
	
}
function prizeClick(gameId) {
	  gameDate = $("#" + gameId + "-date")[0].value;	  
	  if ( gameDate == null || gameDate == "" ) {
		  bootbox.alert( "Debe completar la fecha del sorteo");
		  return;
	  }
	  nrList = $("input[data-game='" + gameId + "']");
	  winningNr = new Array();	  
	  for ( i=0 ; i<nrList.length ; i++ ) {
		  val = parseInt(nrList[i].value);
		  winningNr.push(val); 
		  if ( val == null || val == "" || isNaN(val) ) {
			  bootbox.alert( "Debe completar todos los n&uacute;meros");
			  return;
		  }
	  }

	  n = winningNr.length;
	  winningNr = jQuery.unique(winningNr);
	  if ( n > winningNr.length) {
		bootbox.alert( "No puede ingresar n&uacute;meros repetidos");
	 	return;
	  }

	  
	  startWait();
	  $.ajax({
		  url: "api/v1/hits/" + gameId + "/" + gameDate,
		  data: { "winningNr" : winningNr},
	      timeout: 3000 // 3 seconds
	  }).done(function(data) {
		  bootbox
		  	.alert(data)
		  	.find("div.modal-dialog")
		  	.addClass("largeWidth");;
	  }).fail(function() {
		  bootbox.alert( "No hatos datos disponibles para esa fecha");
	  }).always(function() {
		  stopWait();
	  });
}
</script>
{% endblock %}
